/container-volumes/mysql/var-lib-mysql
/container-volumes/postgresql/var-lib-postgresql-data
/Internet-Movie-Database--IMDb/Export from DBeaver
/Internet-Movie-Database--IMDb/As Used in Leis et al. (2018)
/sandbox
/assets
/.venv
/.idea
